{% load endless %}
        <table class="table table-bordered table-striped table-highlight">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Inicio</th>
                    <th>Término</th>
                    <th>Duración</th>
                    <th>Estado</th>
                    <th>Ubicación</th>
                    <th>Predio</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                {% paginate actividades %}
                {% for actividad in actividades %}
                    <tr>
                        <td>{{ actividad.id }}</td>
                        <td>{{ actividad.fecha_actividad|date:'d M Y' }}</td>
                        <td>{{ actividad.inicio_actividad }}</td>
                        <td>{{ actividad.termino_actividad }}</td>
                        <td></td>
                        <td>
                            {% if actividad.estado %}
                                <a href="#" class="btn btn-small btn-success"><i class="icon-ok btn-small"></i></a>
                            {% else %}
                                <a href="#" class="btn btn-small btn-danger "><i class="icon-exclamation-sign btn-small"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="http://maps.google.com/maps?q={{ actividad.latitud }},{{ actividad.longitud }}&hl=es&z=12&markers=color:blue&lightbox[width]=610&lightbox[height]=360" class="btn btn-small btn-warning lightbox-type"><i class="icon-map-marker"></i> Mapa</a>
                        </td>
                        <td></td>
                        <td>{{ actividad.usuario.get_full_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% show_more %}