{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block body %}
<div class="span12">
    <div class="widget stacked">
        <div class="widget-header">
            <i class="icon-check"></i>
            <h3>Ingresar Usuario</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
        <br />

            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                {{ usuario_form|as_bootstrap }}
                <div class="controls">
                    <input type="submit" value="Ingresar Usuario" class="btn btn-primary">
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{%  block script %}

<script>
  $(function() {
    $( "#id_date_of_birth" ).datepicker({
        dateFormat: 'dd/mm/yy'
    });
  });
</script>

{% endblock %}

